.header{
	background-color: #F0FFF0;
}
.container{
	margin-bottom: 50px;
}
.sing-in{
    background-color: #21B573;
    color: white;
    padding: 12px 28px;
    border-radius: 30px;
}
.sing-in:hover{
	background: #21B573;
}
#bg-light{
    background-color: #F0FFF0;
}
.any-s{
    color: #21B573;
}
.carbg{
    background-color: #F0FFF0;
    padding: 60px 40px;
}
.ready-light{
    color: #FD511A;
}
.get-button{
    padding: 10px 25px;
    background: #21B573;
    border-radius: 33px;
    color: white;
    text-decoration: none;
    border: 2px solid #21B573;
}
.header{
	margin-bottom: 100px;
}
.car{
	margin-top: 10px;
}
.card-bar{
	margin-bottom: 100px;
}
.card{
	padding: 40px 20px;
	background-color: #F0FFF0;
	border: none;
	box-shadow: 5px 5px 15px grey;
	background-color: #F0FFF0;
	border-radius: 8px;
}
.card:hover{
	background-color: white;
    transform: scale(1.05);
    transition: transform .5s;
}
.card-two h1{
	text-align: center;
	margin-bottom: 50px;
	font-weight: bolder;
}
.card-two{
	margin-bottom: 100px;
}
.tstimonial h1{
	text-align: center;
	margin-bottom: 50px;
	font-weight: bolder;
}
.tstimonial p{
	font-weight: bolder;
	color: grey;
}
.tstimonial{
	margin-bottom: 100px;
}
.tstimonial-part{
	width: 60%;
	margin: auto;
}
.list ul li{
	list-style: none;
	font-weight: bolder;
	color: gray;
	font-size: 16px;
}
.footer{
	background-color: #282531;
	padding-top: 100px;
	padding-bottom: 20px;
}
.footer p{
	color: gray;
	font-weight: bolder;
}
.footer h5{
	text-align: center;
	color: gray;
	font-size: 12px;
	margin-top: 150px;
}